@import "tailwindcss";

@theme {
  --color-emerald-50: var(--color-blue-50);
  --color-emerald-100: var(--color-blue-100);
  --color-emerald-150: color-mix(in srgb, var(--color-blue-100) 50%, var(--color-blue-200) 50%);
  --color-emerald-200: var(--color-blue-200);
  --color-emerald-250: color-mix(in srgb, var(--color-blue-200) 50%, var(--color-blue-300) 50%);
  --color-emerald-300: var(--color-blue-300);
  --color-emerald-450: color-mix(in srgb, var(--color-blue-400) 50%, var(--color-blue-500) 50%);
  --color-emerald-400: var(--color-blue-400);
  --color-emerald-500: var(--color-blue-500);
  --color-emerald-600: var(--color-blue-600);
  --color-emerald-650: color-mix(in srgb, var(--color-blue-600) 50%, var(--color-blue-700) 50%);
  --color-emerald-700: var(--color-blue-700);
  --color-emerald-750: color-mix(in srgb, var(--color-blue-700) 50%, var(--color-blue-800) 50%);
  --color-emerald-800: var(--color-blue-800);
  --color-emerald-850: color-mix(in srgb, var(--color-blue-800) 50%, var(--color-blue-900) 50%);
  --color-emerald-900: var(--color-blue-900);
  --color-emerald-950: var(--color-blue-950);

  --color-indigo-50: var(--color-sky-50);
  --color-indigo-100: var(--color-sky-100);
  --color-indigo-120: color-mix(in srgb, var(--color-sky-100) 80%, var(--color-sky-200) 20%);
  --color-indigo-150: color-mix(in srgb, var(--color-sky-100) 50%, var(--color-sky-200) 50%);
  --color-indigo-200: var(--color-sky-200);
  --color-indigo-500: var(--color-sky-500);
  --color-indigo-600: var(--color-sky-600);
  --color-indigo-650: color-mix(in srgb, var(--color-sky-600) 50%, var(--color-sky-700) 50%);
  --color-indigo-700: var(--color-sky-700);
  --color-indigo-750: color-mix(in srgb, var(--color-sky-700) 50%, var(--color-sky-800) 50%);
  --color-indigo-800: var(--color-sky-800);
  --color-indigo-950: var(--color-sky-950);

  --color-green-50: var(--color-blue-50);
  --color-green-100: var(--color-blue-100);
  --color-green-200: var(--color-blue-200);
  --color-green-300: var(--color-blue-300);
  --color-green-400: var(--color-blue-400);
  --color-green-500: var(--color-blue-500);
  --color-green-600: var(--color-blue-600);
  --color-green-700: var(--color-blue-700);
  --color-green-800: var(--color-blue-800);
  --color-green-900: var(--color-blue-900);
  --color-green-950: var(--color-blue-950);

  --color-teal-50: var(--color-sky-50);
  --color-teal-100: var(--color-sky-100);
  --color-teal-200: var(--color-sky-200);
  --color-teal-300: var(--color-sky-300);
  --color-teal-400: var(--color-sky-400);
  --color-teal-500: var(--color-sky-500);
  --color-teal-600: var(--color-sky-600);
  --color-teal-650: color-mix(in srgb, var(--color-sky-600) 50%, var(--color-sky-700) 50%);
  --color-teal-700: var(--color-sky-700);
  --color-teal-800: var(--color-sky-800);
  --color-teal-850: color-mix(in srgb, var(--color-sky-800) 50%, var(--color-sky-900) 50%);
  --color-teal-900: var(--color-sky-900);
  --color-teal-950: var(--color-sky-950);
}
